.avatar-uploader>.ant-upload {
  width: 128px;
  height: 128px;
}

.NewsSave-error {
  color: red;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.NewsSave-container {
  margin: auto !important;
  padding-top: 8rem !important;
  display: block;
  width: 70%;
  text-align: center;
}